img{
  width:12rem;
  height:7rem;
  border-radius: 10px;
}
.box{
  border:2px solid black;
  padding:10px;
  width:200px;
  height:300px;
  text-align: center;
  border-radius: 20px;
  background: #e7d4e4;
}
body{
  background: #b1d1da;
  font-family: cursive;
}